[user]
  name = Guilherme Alves
  email = guiigos.alves@gmail.com

[credential]
  helper = osxkeychain

[alias]
  # https://git-scm.com/docs/git-init
  i = init

  # https://git-scm.com/docs/git-status
  s = status

  # https://git-scm.com/docs/git-clone
  c = clone --recursive

  # https://git-scm.com/docs/git-add
  a = add --all

  # https://git-scm.com/docs/git-log
  l = log -5 --oneline

  # https://git-scm.com/docs/git-push
  ps = push origin master

  # https://git-scm.com/docs/git-pull
  pl = pull --rebase

  # https://git-scm.com/docs/git-reset
  rsc = reset HEAD~1

  # https://git-scm.com/docs/git-shortlog
  contributors = shortlog --summary --numbered

[url "https://github.com/"] # git clone gh:user/repository.git
  insteadOf = gh:

[url "https://gitlab.com/"] # git clone ls:group/repository.git
  insteadOf = gl:
